binds {
    Mod+L hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Mod+X hotkey-overlay-title="Power Menu: Toggle" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Mod+space hotkey-overlay-title="App Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+0 { focus-workspace 10; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Alt+Down hotkey-overlay-title="Move Workspace Down" { move-workspace-down; }
    Mod+Alt+Left { move-workspace-to-monitor-left; }
    Mod+Alt+Right { move-workspace-to-monitor-right; }
    Mod+Alt+Up hotkey-overlay-title="Move Workspace Up" { move-workspace-up; }
    Mod+Shift+0 { move-column-to-workspace 10; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+Ctrl+Down { move-column-to-workspace-down; }
    Mod+Shift+Ctrl+N { move-column-to-workspace-up; }
    Mod+Shift+Ctrl+O { move-column-to-workspace-down; }
    Mod+Shift+Ctrl+Up { move-column-to-workspace-up; }
    Mod+Shift+Down { focus-workspace-down; }
    Mod+Shift+N { focus-workspace-up; }
    Mod+Shift+O { focus-workspace-down; }
    Mod+Shift+Up { focus-workspace-up; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+C { center-column; }
    Mod+Comma { consume-window-into-column; }
    Mod+Ctrl+Down { move-window-down; }
    Mod+Ctrl+E { move-window-down; }
    Mod+Ctrl+I { move-window-up; }
    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+N { move-column-left; }
    Mod+Ctrl+O { move-column-right; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Up { move-window-up; }
    Mod+Down { focus-window-down; }
    Mod+E { focus-window-down; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+F { toggle-window-floating; }
    Mod+G hotkey-overlay-title="Expand to Available Width" { expand-column-to-available-width; }
    Mod+I { focus-window-up; }
    Mod+Left { focus-column-left; }
    Mod+M { maximize-column; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+N { focus-column-left; }
    Mod+O { focus-column-right; }
    Mod+Period { expel-window-from-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Right { focus-column-right; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+T { toggle-column-tabbed-display; }
    Mod+Up { focus-window-up; }
    Mod+W { close-window; }
    Alt+Print hotkey-overlay-title="Edit Screenshot" { spawn "sh" "-c" "niri msg action screenshot --show-pointer false --path - | satty -f - --early-exit --initial-tool arrow --copy-command wl-copy --actions-on-enter save-to-clipboard --actions-on-escape save-to-clipboard"; }
    Ctrl+Print { screenshot-screen; }
    Mod+P { screenshot; }
    Print { screenshot; }
    Mod+Shift+E hotkey-overlay-title="Quit" { quit; }
    Mod+Shift+Q { quit; }
    Cancel { spawn "playerctl" "next"; }
    Mod+A hotkey-overlay-title="Edit Screenshot" { spawn "sh" "-c" "wl-paste -t image/png | satty -f - --early-exit --initial-tool arrow --copy-command wl-copy --actions-on-enter save-to-clipboard --actions-on-escape save-to-clipboard"; }
    Mod+Alt+P hotkey-overlay-title="Edit Screenshot" { spawn "sh" "-c" "wl-paste -t image/png | satty -f - --early-exit --initial-tool arrow --copy-command wl-copy --actions-on-enter save-to-clipboard --actions-on-escape save-to-clipboard"; }
    Mod+H hotkey-overlay-title="AI Chat" { spawn "kitty" "--class" "floating" "aichat"; }
    Mod+Odiaeresis hotkey-overlay-title="Edit Screenshot" { spawn "sh" "-c" "wl-paste -t image/png | satty -f - --early-exit --initial-tool arrow --copy-command wl-copy --actions-on-enter save-to-clipboard --actions-on-escape save-to-clipboard"; }
    Mod+Return hotkey-overlay-title="Open Terminal: kitty" { spawn "kitty"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+"; }
    XF86Go { spawn "playerctl" "play-pause"; }
    XF86Messenger { spawn "playerctl" "previous"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl -d '*b*' s 5%-"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "brightnessctl -d '*b*' s +5%"; }
    Mod+Ctrl+Shift+Alt+Delete { quit skip-confirmation=true; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Z hotkey-overlay-title="Toggle Overview" { toggle-overview; }
}
